<footer class="main-footer" style="background-color:#ecf0f5">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.2
    </div>
    <strong>Copyright &copy; {{year}} <a href="#"></a>.</strong>
    All rights reserved.
</footer>
