<div class="content-wrapper">
    <section class="content-header">
        <h1>
            {{title}} <br>
          <small>Vous etes connectés : {{id}} </small>
          <br>
          <small>Migration  vers Java 8 : 1 octobre</small>
        </h1>
    </section>

  <section class="content">

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!-- Box Comment -->
        <div class="box box-widget">
          <div class="box-footer">
              <div  style="display: inline-flex;width: 100%">
                <input type="text" #msg="ngModel"  class="form-control" name="msg" [(ngModel)]="message.msg" placeholder="Press enter to post comment">
                <button class="btn btn-twitter"  [disabled]="!desactiver" (click)="writeTwett()" ><span class="fa fa-twitter"></span></button>
              </div>
              <div class="box-body">
                <span>Timeline recup en {{getTimeline}} ms pour {{nbMessage}} tweets</span><br/>
                <span *ngIf="timeMs" class="description">Tweet poste en : {{timeMs}} ms</span>
              </div>
          </div>
          <!-- /.box-body -->

          <!-- /.box-footer -->
          <!-- /.box-footer -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div *ngFor="let msg of lesMessages" class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!-- Box Comment -->
        <div class="box box-widget">

          <div class="box-header with-border">
            <div class="user-block">
              <img class="img-circle" src="./assets/dist/img/avatar5.png" alt="User Image">
              <span *ngIf="msg" class="username"><a href="#">{{msg.message.userId}}</a></span>
              <span *ngIf="msg" class="username time">{{msg.timestamp | date:'yyyy-MM-dd HH:mm'}}</span>
            </div>
            <!-- /.user-block -->

          </div>
          <!-- /.box-header -->
          <div class="box-body">

            <p>{{msg.message.message}}</p>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button class="btn center-block btn-twitter" (click)="loadMoreTwett()" ><span class="fa fa-twitter">More tweets</span></button>
    </div>
  </section>

</div>
