<div class="content-wrapper" style="background-color: white">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      {{title}}
    </h1>
  </section>

  <section class="content" style="background-color: white;margin: 0 auto 0 auto;text-align: center ">
    <div class="col-md-12" style="margin-bottom: 5px">
        Nombre de mesures :<br/>
        <input #val type="number" class="form-control">
        <button (click)="faitMoiDeMesure100(val.value)" style="margin:3px 0 0 15px" class="btn btn-danger">Poster un tweet pour un utilisateur avec 100 follower</button>
        <br/>
        <div *ngIf="bool1">La moyenne et la variance sont calcules dans 25 secondes</div>
        <div style="margin: 2px" *ngIf="calc1">Moyenne : {{calc1.moyenne}}, variance : {{calc1.variance}}</div>
        <div *ngFor="let mes of tabMesure100">
          <span class="form-control">{{mes.index}} : {{mes.tps}}</span>
        </div>
        <hr>
    </div>
    <div class="col-md-12">
        Nombre de mesures :<br/>
        <input #val2 type="number" class="form-control">
        <button (click)="faitMoiDeMesure1000(val2.value)" style="margin-left:15px" class="btn btn-danger">Poster un tweet pour un utilisateur avec 1000 follower</button>
        <br/>
      <div *ngIf="bool2">La moyenne et la variance sont calcules dans 25 secondes</div>      <div style="margin: 2px" *ngIf="calc2">Moyenne : {{calc2.moyenne}}, variance : {{calc2.variance}}</div>
        <div *ngFor="let mes of tabMesure1000">
          <span class="form-control">{{mes.index}} : {{mes.tps}}</span>
        </div>
        <hr>
    </div>
    <div class="col-md-12">
        Nombre de mesures :<br/>
        <input #val3 type="number" class="form-control">
        <button (click)="faitMoiDeMesure2500(val3.value)" style="margin-left:15px" class="btn btn-danger">Poster un tweet pour un utilisateur avec 2500 follower</button>
        <br/>
      <div *ngIf="bool3">La moyenne et la variance sont calcules dans 25 secondes</div>
      <div style="margin: 2px" *ngIf="calc3">Moyenne : {{calc3.moyenne}}, variance : {{calc3.variance}}</div>
        <div *ngFor="let mes of tabMesure2500">
          <span class="form-control">{{mes.index}} : {{mes.tps}}</span>
        </div>
        <hr>
    </div>
  </section>
</div>
